<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> formulario para añadir personas</h1>
<!--    <form action="#" th:action="@{/crud/add}" th:object={persona}">-->
<!--        <p>nif: <input disabled="false" type="text" th:field="*{nif}"></p>-->
<!--        <p>nss: <input disabled="false" type="text" th:field="*{nss}"></p>-->
<!--        <p>nombre: <input disabled="true" type="text" th:field="*{nombre}"></p>-->
<!--        <p>apellido: <input disabled="true" type="text" th:field="*{apellido}"></p>-->
<!--        <p>año de nacimiento: <input disabled="true" type="date" th:field="*{anyoNacimiento}"></p>-->
<!--        <p>fecha alta: <input disabled="true" type="date" th:field="*{fechaAlta}"></p>-->
<!--        <p>salario: <input disabled="true" type="number" th:field="*{salario}"></p>-->
<!--        <p>fecha_baja: <input disabled="true" type="date" th:field="*{fecha_baja}"></p>-->
<!--        <p>sede_trabaja: <input disabled="true" type="text" th:field="*{sede_trabaja}"></p>-->




  </form>
</body>
</html>