<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Persona </h1>
<h2 th:text="|Nif: ${nif}|"></h2>
<h2 th:text="|Nº seguridads social: ${nss}|"></h2>
<h2 th:text="|Nombre: ${nombre}|"></h2>
<h2 th:text="|Apellido: ${apellido}|"></h2>
<h2 th:text="|Año de nacimiento: ${anyoNacimiento}|"></h2>
<h2 th:text="|Fecha de alta : ${fechaAlta}|"></h2>
<h2 th:text="|Salario: ${salario}|"></h2>
<h2 th:text="|Puesto: ${puesto}|"></h2>
<h2 th:text="|Fecha baja: ${fecha_baja}|"></h2>
<h2 th:text="|Sede Trabaja: ${sede_trabaja}|"></h2>
</body>
</html>